@import "../../scss/general";

.activity {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/img/climbing-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &__window {
    width: 60em;
    height: 43em;
    background-color: $background-color-trans;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    &_line {
      width: 100%;
      border-top: 1px solid black;
    }
    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin: 0;
        margin-left: 2em;
      }
      a {
        text-decoration: none;
        color: black;
      }
      p {
        margin-right: 2em;
        padding: 0.7em 1em;
        background-color: #e57373;
        border-radius: 0.3em;
        font-weight: 600;
      }
    }
    &_items {
      margin-top: 1em;
    }
    &_item {
      margin: 0 2em;
      padding: 0.1em 2em;
      display: flex;
      flex-direction: column;
      background-color: $background-color-trans-3;
      border-radius: 0.3em;
    }
    &_item-top {
      p {
        font-size: 1.2em;
        span {
          font-weight: 600;
        }
      }
    }
    &_item-bottom {
      display: flex;
      justify-content: space-between;
      p {
        span {
          font-weight: 600;
        }
      }
    }
  }
}
