@import "../../scss/general";

.place {
  width: 100vw;
  height: 100vh;
  padding-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/img/climbing-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__window {
    width: 60em;
    height: 43em;
    background-color: $background-color-trans;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    &_line {
      width: 100%;
      border-top: 1px solid black;
    }
    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin: 0;
        margin-left: 2em;
      }
      a {
        text-decoration: none;
        color: white;
      }
      p {
        margin-right: 2em;
        padding: 0.7em 1em;
        background-color: #e57373;
        border-radius: 0.3em;
        font-weight: 600;
      }
    }
    &_items {
      height: 100%;
      margin-top: 1em;
      overflow: scroll;
      overflow-x: hidden;
    }
    &_item {
      margin: 0 2em;
      margin-bottom: 1em;
      padding: 0.1em 2em;
      padding-bottom: 0.6em;
      display: flex;
      flex-direction: column;
      background-color: $background-color-trans-3;
      border-radius: 0.3em;
    }
    &_item-top {
      p {
        font-size: 1.2em;
        span {
          font-weight: 600;
        }
      }
    }
    &_item-bottom {
      padding: 0 5em;
      display: flex;
      justify-content: center;
      p {
        margin: 0.5em;
        margin-bottom: 0;
        span {
          font-weight: 600;
        }
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    form {
      width: 29em;
      padding: 1em 2em;
      margin-top: 2em;
      border-radius: 0.5em;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $background-color-trans-3;
      &:nth-child(2) {
        background: red;
      }
      h3 {
        margin: 0;
        margin-bottom: 1em;
        font-weight: 700;
      }
      button {
        margin-left: 18em;
        width: 8em;
      }
      label {
        font-weight: 600;
      }
      input {
        width: 12em;
      }
      select {
        width: 12em;
      }
    }

    &_form-item {
      width: 22em;
      margin-bottom: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        margin: 0;
      }
      button {
        align-self: flex-end;
      }
    }
  }
  &__place-in-region {
    padding: 2px;
    font-size: 1.05em;
    cursor: pointer;
    border-bottom: 1px solid $dark-line-color;
  }
}
