$primary-color: #d32f2f;
$active-color: #ef5350;
$outline-color: #ffcdd2;

$secondary-color: #5e5322;
$background-color: #ffebee;
$background-color-trans: rgba(255, 235, 238, 0.65);
$background-color-trans-2: rgba(255, 235, 238, 0.8);
$background-color-trans-3: rgba(255, 235, 238, 0.9);
$background-color-sec: #ffcdd2;
$background-color-sec-trans: rgba(255, 205, 210, 0.5);
$background-color-sec-trans-2: rgba(255, 205, 210, 0.8);
$light-text-color: #737373;
$dark-text-color: #3c3c3c;
$dark-line-color: #3c3c3c;
$line-color: #707070;
$line-color-trans: rgba(112, 112, 112, 0.5);
